.page__show{
    padding-top: calc(40px + 100 * (100vw / 1280));
    background: url('../img/bgc.jpg');
    min-width: 330px;
}
._container-e{
    width: 80%;
    margin: 0 auto;
}
@media(max-width: 992px) {
    ._container-e{
        width: 90%;
    }
}
@media(max-width: 360px) {
    ._container-e{
        width: 96%;
    }
}
.show__cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    position: relative;
    padding-bottom: 1rem;
}
.product-card{
    width: 100%;
}
.product-card__image-ibg img{
    justify-content: center;
    text-align: center;
    height: 30rem;
    min-width: 100%;
    overflow: hidden;
    object-fit: cover;
}
a.product-card__button {
    min-width: 100%;
    padding: 1rem 2rem;
    border-radius: 3px;
    color: white;
    font-size: 1.5rem;
    background-color: orange;
    text-align: center;
    align-items: center;
}
.product-card{
    padding: 0;
}
@media (max-width: 580px) {
    .page__show{
        padding-top: 9rem;
    }
    .product-card__image-ibg img{
        height: 25rem;
        width: fit-content;
    }
}