.main-product {
    padding-top: calc(20px + 60 * (100vw / 1280));
    width: 100%;
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    margin-bottom: calc(30px + 100 * (100vw / 1280));
}
.main-product__images {
    padding: 0 1rem 1rem 0;
}
.images-product {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.images-product__slider {
    flex: 1 1 auto;
    width: 600px;
}
.images-product__slide-ibg {
    height: fit-content;
}
.images-product__slide-ibg img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}
.images-product__thumbs {
    flex: 1 1 auto;
}
.thumbs-images {
    max-width: 600px;
    overflow: hidden;
    object-fit: cover;
}
.thumbs-images__slide-ibg{
    height: fit-content;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease 0s;
}
.swiper-slide-thumb-active{
    opacity: 1;
}
.thumbs-images__slide-ibg img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}



/*=======================================
=========================================
=========================================
=========================================
=========================================*/




.main-product__body {
    width: 100%;
}
.body-product {
    background: #fefefe;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}
.body-product__header {
    border-bottom: 1px solid rgba(20, 20, 20, 0.15);
    padding: 0px 0px 2rem 0px;
}
.header-product__line {
    display: block;
    gap: 1.5rem;
}
.header-product__title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.7rem;
    flex: 1 1 auto;
    margin-bottom: 0.8rem;
}
.header-product__subtitle{
    font-size: 1.2rem;
    font-weight: 500;
}
.body-product__table {
    border-bottom: 1px solid rgba(20, 20, 20, 0.15);
    padding: 1rem 0px;
}
.table-product__title{
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
}
.table-product__text {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1.2rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
}
.body-product__options {
    border-bottom: 1px solid rgba(20, 20, 20, 0.15);
    padding: 1rem 0px;
}
.options-product {
    text-align: justify;
    gap: 1.2rem;
    font-size: 1.2rem;
}
.options-product__title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.options-product__text {
    font-size: 1.2rem;
    line-height: 1.4rem;
}
.actions-product {
    display: block;
    padding: 1rem 0 0 0;
    font-size: 1.2rem;
    line-height: 1.4rem;
}
.actions-product__contact{
    font-weight: 600;
    color: rgb(78, 205, 255);
}
.actions-product__contact:hover{
    text-decoration: underline;
}
@media (max-width: 1800px) {
    .thumbs-images__slide-ibg img {
        height: 175px;
    }
}
@media(max-width: 1280px) {
    .thumbs-images__slide-ibg img {
        height: 150px;
    }
    .images-product__slider{
        max-width: 500px;
    }
    .thumbs-images {
        max-width: 500px;
    }  
}
@media(max-width: 1100px) {
    .images-product__slider{
        max-width: 400px;
    }
    .thumbs-images {
        max-width: 400px;
    }
    .thumbs-images__slide-ibg img {
        height: 100px;
    }
}
@media(max-width: 992px) {
    .main-product{
        display: flex;
        flex-direction: column;
    }
    .images-product__slider{
        max-width: 100%;
    }
    .images-product__slide-ibg img {
        height: 700px;
        object-fit: cover;
        overflow: hidden;
    }
    .images-product {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .thumbs-images{
        max-height: 650px;
    }
    .thumbs-images__slide-ibg img{
        height: 160px;
        max-width: 250px;
    }
    .actions-product {
        display: block;
    }
}
@media(max-width: 850px) {
    .images-product {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .images-product__slider{
        max-width: calc(100px + 650 * (100vw / 850));
        max-height: calc(100px + 650 * (100vw / 850));
        object-fit: cover;
        width: 100%;
    }
    .images-product__slide-ibg img {
        height: calc(100px + 650 * (100vw / 850));
    }
    .images-product__slider{
        max-width: calc(10px + 750 * (100vw / 850));
    }
    .thumbs-images {
        max-width: calc(10px + 750 * (100vw / 850));
    }
    .thumbs-images__slide-ibg img {
        height: 200px;
    }
    .table-product__text {
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 1.2rem;
    }
}
@media(max-width: 650px) {
    .thumbs-images {
        max-width: calc(10px + 750 * (100vw / 850));
    }
    .thumbs-images__slide-ibg img {
        height: 120px;
    }
}
@media(max-width: 580px) {
    .main-product {
        padding-top: 130px;
    }
    .thumbs-images__slide-ibg img {
        height: 100px;
    }
}
@media(max-width: 360px) {
    .thumbs-images__slide-ibg img {
        height: 70px;
    }
}